<html>
  <head>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"></link>
    <link href="/static/css/style.css" rel="stylesheet"></link>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"></link>
    <script href="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/js/jquery-1.4.2.js"></script>
    <title>SiSwati to English, English to SiSwati </title>
  </head>
  <body>
    <div class="container cont ">
    </div>
    <p class="topbar" >&nbsp;</p>
    <p>&nbsp;</p>
    <div class="container cont ">
    <h1 class="title">English - SiSwati Translator</h1>
    <h3 class="description">A mini translator </h3>
    <p> </p>
    <form id="trans_form" action="#" method="post">
        <!-- dropdown button-->
        <div align="center">
        <select id="language">
          <option value="siswati">SiSwati to English</option>
          <option value="english">English to SiSwati</option>
        </select>  
      </div>
      <div align="center"> 
        <textarea  id="trans_word" class="span4" name="text" rows="5" 
            placeholder="Enter line to translate" onkeyup="translate_word(this.value)"></textarea>
      </div>
      <div class="translation">
        <p id = "translated_word" class="translation" align="center"> &nbsp; </p>
      </div>

      <div class="row-fluid">
      <div class="span3">
    </div> <!--span3 -->
    </div> <!--row-fluid -->
    </form> <!-- input form -->
  </div>  <!-- center -->
  </div><!--container -->
    <p>&nbsp;</p>
    <!--comments -->
    <div class="container cont">
    <form id="comments_form" action="#" method="post">
        <!-- dropdown button-->
    <legend>Comments </legend>
    <div class="row-fluid">
    <div class="span4 offset1">
    <textarea rows="1" cols="30" placeholder="name"></textarea>
    <p> </p>
    <textarea rows="1" cols="30" placeholder="email"></textarea>
    <p> </p>
    <textarea rows="3" class="span12" placeholder="comment"></textarea>
    </div> <!-- span4 -->
    </div> <!--rows -->
    <div class="form-actions">
    <input type="submit" value="submit"/>
     </div> <!-- form-actions -->
    </form> <!--comment form -->
    </div>
       <script>
         function translate_word(somevalue) {
           var translate_word = somevalue;
           var base_url = "";
           var e = document.getElementById('language');
           var language = e.options[e.selectedIndex].value;
           var url = "http://localhost:6543/swanglish/translate"
           $.post(url, {translate_word: translate_word, language: language},
           function (data) {
            $('#translated_word').replaceWith('<p id = "translated_word" class="translation" align="center">' + data.translatedword +' </p>');
            console.log(translate_word);
            console.log(data.translatedword);
         });
       }
        </script>
  </body>
</html>
