<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock  %}</title>
    <meta name="description" content="Swanglish">
    <meta name="author" content="Name LLC">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->

    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <!-- javascript -->
    <script src="/static/js/jquery-1.7.min.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script type="text/javascript">{{request.persona_js}}</script>

    {% block head %}

    {% endblock %}
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
<!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse"
    data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Swanglish</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="">
                <!-- a href="/">Home</a -->
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <label style="color: white"></label> 
            {{request.persona_button}} </a>
            {{user}}
            </form>
          </div>
        </div>
      </div>

    </div>
<!-- end of navbar -->

    <div class="container-fluid">
    

<!-- breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a class='upper_first' href="/">home</a> <span class="divider">/</span>
  </li>
  {% block breadcrumb %}
  {% endblock %}
</ul>
<!-- end of breadcrumb -->

{# from "inc/utils.html" import flash_messages #}

{% if req.session.peek_flash() %}
  {% set flash = req.session.pop_flash() %}
  {% for message in flash %}
    <div class="alert {{message.split(';')[0]}} fade in">
      <a class="close" href="#">x</a>
      {{message.split(';')[1]}}
    </div>
  {% endfor %}
{% endif %}


        {% block content %}

        {% endblock  %}

        <footer>
        <div class="row-fluid">
          <div class="span3">
            <p>&copy; <a href="http://www.swanglish.com/">EN<sup>th</sup>name LLC</a>, 2013</p> 
        </div> <!-- span3-->
      </div> <!--row-->
        </footer>

    </div><!-- ~container-fluid -->
  </body>
</html>
