<html>
  <head>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"></link>
    <link href="/static/css/style.css" rel="stylesheet"></link>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"></link>
    <script href="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/js/jquery-1.4.2.js"></script>
    <title>SiSwati to English, English to SiSwati </title>
  </head>
  <body>
    <div class="container cont ">
    </div>
    <p class="topbar" >&nbsp;</p>
    <p>&nbsp;</p>

    <div class="container cont ">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <ul class="nav">
            <li class="brand active"><a href="#">Home</a></li>
            <li class="brand"><a href="#">About us</a></li>
            <li class="brand"><a href="#">Contact us</a></li>
            <li class="brand"><a href="#">A&Q</a></li>
          </ul>
        </div>
      </div> <!-- end nav -->
    <legend><h3>Bilingual Dictionary</h3><h4 class="description">'Sichazamagama #'</h4></legend>
    <h5 class="description">SiSwati - English</h5>
    <p> </p>
      <div align="center"> 
    <form id="trans_form" action="#" method="post">
        <textarea  id="trans_word" class="span4" name="text" rows="1" 
            placeholder="Enter line to translate" onkeyup="translate_word(this.value)"></textarea>
    </form> <!-- input form -->
        </div> <!-- centre -->
  </div><!--container -->

  <div class="container">
      <div class="row-fluid">
        <div class="span6">
          <p> &nbsp; </p>
          <h6 id="matches"></h6>
        <table  id="translated_table" class="table table-hover translation">
        </table>
      </div> <!-- span6 -->
      </div> <!-- row -->
    </div> <!-- white container -->
    <!--comments -->
    <div class="container comments">
    <form id="comments_form" action="#" method="post">
        <!-- dropdown button-->
    <legend>Comments </legend>
    <div class="row-fluid">
    <div class="span4 offset1">
    <textarea rows="1" cols="30" placeholder="name"></textarea>
    <p> </p>
    <textarea rows="1" cols="30" placeholder="email"></textarea>
    <p> </p>
    <textarea rows="3" class="span12" placeholder="comment"></textarea>
    </div> <!-- span4 -->
    </div> <!--rows -->
    
    <div class="row-fluid">
    <div class="span1 offset1">
      <a id="submit_comment" class="btn btn-primary" href="#">Submit</a>
     </div> <!-- row-fluid-->
   </div> <!-- span1 -->
    </form> <!--comment form -->
    </div>


       <script>
         function translate_word(somevalue) {
           var translate_word = somevalue;
           var base_url = "";
           var url = "http://localhost:6543/swanglish/translate"
           $.post(url, {translate_word: translate_word},
           function (data) {
              var translated_array = (data.translatedword).split(',');
              var array_length = translated_array.length;

              if((data.translation_list).length != 0){
                $('#matches').replaceWith(' <h6 id="matches" class="alert alert-success"><b> matches: </b></h6> ');
                $('#translated_table').replaceWith('<table  id="translated_table" class="table table-hover translation"></table>');
                  var translate_lengnth = (data.translate_list).length
                  var translation_length = (data.translation_list).length
                  for (var j=0; j < translate_lengnth; j++) {
                    var translation_array = (data.translation_list[j]).split('#');
                    var translation_array_length = translation_array.length;
                    var word_type = ((translation_array[0]).split(" "))[0]
                    var first_word = ((translation_array[0]).split(" "))[1]
                    console.log("translation_array " + translation_array)
                    $('#translated_table').append('<tr><td>' + (j + 1) + '</td><td colspan="2">' + 
                                                              data.translate_list[j] + " " + word_type +'</td></tr>');
                    for (var i=1; i < translation_array_length + 1; i++) {
                      if (i == 1) {
                      $('#translated_table').append('<tr><td></td><td>-</td><td>' + first_word +' </tr>');
                        } else {
                      $('#translated_table').append('<tr><td></td><td>-</td><td>' + translation_array[i -1] +' </tr>');
                      }
                    }
                }
              }else{
              $('#matches').replaceWith('<h6 id="matches" class="alert alert-error"><b> No matches found </b></h6> ');
              $('#translated_table').replaceWith('<table  id="translated_table" class="table table-hover translation"></table>');
            }
          });
       }
        </script>
  </body>
</html>
